.expenses {
  padding: 1rem;
  background-color: rgb(31, 31, 31);
  /* this is reponsible for saprating color. */
  margin: 2rem auto;
  width: 50rem;
  max-width: 95%;
}

.noContent {
  text-align: center;
  color: aliceblue;
  font-size: medium;
  font:bold;
}